.gearDetailContainer {
    padding: 20px;
    background-color: #ACE2E1; 
    min-height: 100vh;
  }
  
  h1 {
    color: #008DDA;
    margin-bottom: 20px;
  }
  
  p {
    color: #333;
    margin: 10px 0;
    padding: 10px;
    background-color: #F7EEDD;
    border: 1px solid #008DDA;
    border-radius: 5px;
    width: 400px;
  }
  
  button {
    background-color: #008DDA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #005f9e;
  }